<div class="home-wrap gray">
<div class="container">
<div class="home-block home-block__trapezium gray">
	<h2 class="home-block__h3 h-b-t__h3">we are the best</h2>
		<p class="home-block__p-small">
	Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
	</p>
		<p class="home-block__p-small">
		Volutpat wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum
		</p>
	<button class="btn home-block__btn"><span>read more</span></button>

</div>
</div>
<img class="home-block__img-right" src="images/brifing.png" alt="image loading error">
</div>