<div class="home-blog">

	<div class="home-blog-slider">
	<div class="blog-fotorama fotorama" data-height="280" data-fit="cover">
		<img src="images/blog-img.png" alt="image not loaded">
		<img src="images/blog-img.png" alt="image not loaded">
	</div>	
	</div>
		<div class="home-blog-content">
		<p class="h-b-c__date">
			10 April 2014
		</p>
		<h3 class="home-blog__h3">
			Typi non habent claritatem insitam
		</h3>
		<p class="home-block__p-small home-blog__p">
			Duis autem vel eum iriure dolor in hendrerit in vulputate velit
esse molestie consequat, vel illum dolore eu feugiat nulla 
facilisis at vero eros et accumsan et iusto odio dignissim qui [...]
		</p>
	</div>

</div>