<div class="home-block dark">
	<div class="container">
		<h3 class="home-block__h3 tac">
			What Our Clients are saying
		</h3>

<div class="h-b__clients-fotorama fotorama" data-width="2000" data-arrows="false" data-autoplay="true" data-height="auto">

		<div class="h-b__clients-slide">
					<p class="home-block__p home-block__p-clients">
			"It was a pleasure to work with Imran. He is very dedicated and professional.<br>
He worked very hard to satisfy our requirements and the communication was great."
		</p>
		<p class="home-block__p home-block__p-clients">
		<span class="client-name">
			John Doe
		</span>
		</p>
		<a class="h-b-c__s-link" href="www.yourwebsite.zt">www.yourwebsite.zt</a>
		</div>


		<div class="h-b__clients-slide">
					<p class="home-block__p home-block__p-clients">
			"It was a pleasure to work with Imran. He is very dedicated and professional.<br>
He worked very hard to satisfy our requirements and the communication was great."
		</p>
		<p class="home-block__p home-block__p-clients">
		<span class="client-name">
			John Doe
		</span>
		</p>
		<a class="h-b-c__s-link" href="www.yourwebsite.zt">www.yourwebsite.zt</a>
		</div>


				<div class="h-b__clients-slide">
					<p class="home-block__p home-block__p-clients">
			"It was a pleasure to work with Imran. He is very dedicated and professional.<br>
He worked very hard to satisfy our requirements and the communication was great."
		</p>
		<p class="home-block__p home-block__p-clients">
		<span class="client-name">
			John Doe
		</span>
		</p>
		<a class="h-b-c__s-link" href="www.yourwebsite.zt">www.yourwebsite.zt</a>
		</div>


</div>
	</div>
</div>