<div class="home-block gray home-block-contact">
<div class="container">
	<h2 class="home-block__h2 h-b-c__h2">contact</h2>
	<form name="home-contact-form" class="contact-form">
	<!-- <fieldset> -->
	<div class="flex-wrap contact-form__fieldset">
		<input type="text" name="contact-form__name" placeholder="name*">
		<input type="text" name="contact-form__email" placeholder="Email*">
		<textarea name="contact-form__mes" placeholder="message..."></textarea>
		</div>
	<!-- </fieldset> -->
	<button class="btn home-block__btn contact-form__btn-submit" type="submit"><span>Submit</span></button>
	
	</form>
	</div>
</div>