<footer class="footer">
	<div class="container flex-wrap footer__container">
		<div class="flex__col-4 footer__col footer__col">
			<p class="footer__p-small">
				<img class="footer__logo" src="images/footer-Mairala.png" alt="MAIRALA">
			</p>
			<p class="footer__p-big">
			Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore.
			</p>
			<p class="footer__p-big">
			eugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta
			</p>

		</div>
		<div class="flex__col-4 footer__col">
			<h4 class="footer__capt">
				recent posts
			</h4>
			<div class="footer__box">
				<p class="footer__p-small footer__p-date">
				march 30, 2014
			</p>
			<p class="footer__p-str">
				Duis autem vel eum iriure dolor
			</p>		
			</div>
					<div class="footer__box">
				<p class="footer__p-small footer__p-date">
				march 30, 2014
			</p>
			<p class="footer__p-str">
				Duis autem vel eum iriure dolor
			</p>		
			</div>
					<div class="footer__box">
				<p class="footer__p-small footer__p-date">
				march 30, 2014
			</p>
			<p class="footer__p-str">
				Duis autem vel eum iriure dolor
			</p>		
			</div>
	

		</div>
			<div class="flex__col-4 footer__col">
			<h4 class="footer__capt">
				twitter feeds
			</h4>
			<div class="footer__box">
				<p class="footer__p-small footer__p-twit">
				about 2 days ago <span class="f__p-t__acc">@kristianplatt</span>
			</p>
			<p class="footer__p-str">
				Good work buddy
			</p>		
			</div>
						<div class="footer__box">
				<p class="footer__p-small footer__p-twit">
				about 2 days ago <span class="f__p-t__acc">@fasteven</span>
			</p>
			<p class="footer__p-str">
				Good work buddy
			</p>		
			</div>
						<div class="footer__box">
				<p class="footer__p-small footer__p-twit">
				about 2 days ago <span class="f__p-t__acc">@streamer</span>
			</p>
			<p class="footer__p-str">
				Good work buddy
			</p>		
			</div>
					
					
	

		</div>
		<div class="flex__col-4 footer__col">
			<h4 class="footer__capt">
				our adress
			</h4>
			<p class="footer__p-big">
				Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta 
			</p>

			<div class="footer__p-contact">
				<address>
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				Moonshine St. 14/05 Light, Jupiter</address>

			<a class="font-ss" href="tel:+00(123)4567890">
			<i class="fa fa-phone" aria-hidden="true"></i>
			+00 (123) 456 78 90
			</a>

			<a href="mailto:first.last@email.com">
			<i class="fa fa-envelope" aria-hidden="true"></i>
			first.last@email.com
			</a>


			</div>
		</div>


	</div>
<div class="footer__bottom">
<p class="footer__bottom__copyright">
		&copy;2014 mran Khan All Rights Reserved
</p>

</div>
</footer>

