<div class="home-block-images">
	<div class="flex__col-4 hover-wrap">
		<img class="h-b-i__img" src="images/180-1-copy.png" alt="image not loaded">
		<div class="hover-cont">
		<div class="h-b-i__hover">
		<div class="h-b-i__hover__lev2">
			<p class="h-b-i__hover__p-bold"><a href="#">paperclips</a></p>
			<p class="h-b-i__hover__p"><a href="#">branding</a></p>
		</div>
		</div>
		</div>
	</div>

		<div class="flex__col-4 hover-wrap">
		<img class="h-b-i__img" src="images/banner2.png" alt="image not loaded">

				<div class="hover-cont">
		<div class="h-b-i__hover">
		<div class="h-b-i__hover__lev2">
			<p class="h-b-i__hover__p-bold"><a href="#">paperclips</a></p>
			<p class="h-b-i__hover__p"><a href="#">branding</a></p>
		</div>
		</div>
		</div>
	</div>

		<div class="flex__col-4 hover-wrap">
		<img class="h-b-i__img" src="images/banner3.png" alt="image not loaded">

				<div class="hover-cont">
		<div class="h-b-i__hover">
		<div class="h-b-i__hover__lev2">
			<p class="h-b-i__hover__p-bold"><a href="#">paperclips</a></p>
			<p class="h-b-i__hover__p"><a href="#">branding</a></p>
		</div>
		</div>
		</div>
	</div>

		<div class="flex__col-4 hover-wrap">
		<img class="h-b-i__img" src="images/banner4.png" alt="image not loaded">

				<div class="hover-cont">
		<div class="h-b-i__hover">
		<div class="h-b-i__hover__lev2">
			<p class="h-b-i__hover__p-bold"><a href="#">paperclips</a></p>
			<p class="h-b-i__hover__p"><a href="#">branding</a></p>
		</div>
		</div>
		</div>
	</div>

</div>

