<div class="home-block gray">
<div class="container">
	<h2 class="home-block__h2">our team members</h2>
	<p class="home-block__p">
	Nam liber tempor cum soluta nobis eleifend option <br> congue nihil imperdiet doming id quod mazim
	</p>
<div class="flex-wrap home-block__bottom">
		<div class="home-block__col-3">
		<div class="hover-wrap">
		<img src="images/member.png" alt="image not loaded">
				<div class="hover-cont">
		<div class="h-b-i__hover hover-cont-100">
		<div class="h-b-i__hover__lev2">
			<p class="h-b-i__hover__social">
			<a href="#">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-linkedin" aria-hidden="true"></i>
			</a>
			</p>
		</div>
		</div>
		</div>
		</div>
<div class="member-signboard">
<p class="m-s__name">
	michell anderson
</p>
<p class="m-s__prof">
	creative director
</p>
</div>
	</div>


		<div class="home-block__col-3">
		<div class="hover-wrap">
		<img src="images/member.png" alt="image not loaded">
				<div class="hover-cont">
		<div class="h-b-i__hover hover-cont-100">
		<div class="h-b-i__hover__lev2">
			<p class="h-b-i__hover__social">
			<a href="#">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-linkedin" aria-hidden="true"></i>
			</a>
			</p>
		</div>
		</div>
		</div>
		</div>
<div class="member-signboard">
<p class="m-s__name">
	michell anderson
</p>
<p class="m-s__prof">
	creative director
</p>
</div>
	</div>

			<div class="home-block__col-3">
		<div class="hover-wrap">
		<img src="images/member.png" alt="image not loaded">
				<div class="hover-cont">
		<div class="h-b-i__hover hover-cont-100">
		<div class="h-b-i__hover__lev2">
			<p class="h-b-i__hover__social">
			<a href="#">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a>
			<a href="#">
				<i class="fa fa-linkedin" aria-hidden="true"></i>
			</a>
			</p>
		</div>
		</div>
		</div>
		</div>
<div class="member-signboard">
<p class="m-s__name">
	michell anderson
</p>
<p class="m-s__prof">
	creative director
</p>
</div>
	</div>
</div>

	</div>
</div>