<div class="home-block">
<div class="container">
	<h3 class="home-block__h3 tac">sevices we provide</h3>
	<p class="home-block__p-small tac">
		Volutpat wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo <br>
consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu <br>
feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent 
	</p>

	<div class="flex-wrap home-block__bottom">
	<div class="home-block__col-3">
			<div class="home-block__icon">
	<i class="fa fa-users"></i>
			
		</div>

	<h4 class="home-block__h4 tac">consultancy</h4>
	<p class="home-block__p-gray tac">
		Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam 
	</p>
	</div>

		<div class="home-block__col-3">
				<div class="home-block__icon">
	<i class="fa fa-bullhorn"></i>
	</div>

	<h4 class="home-block__h4 tac">maketing</h4>
	<p class="home-block__p-gray tac">
		Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam 
	</p>
	</div>

		<div class="home-block__col-3">
		<div class="home-block__icon">
	<i class="fa fa-flask"></i>
	</div>
	<h4 class="home-block__h4 tac">reaserch</h4>
	<p class="home-block__p-gray tac">
		Claritas est etiam processus dynaicus qui sequitur mutationem consuetudium lectorum. Mirum est notare quam 
	</p>
	</div>
		
	</div>
</div>
</div>