<div class="home-block dark home-block-skills">
<div class="container">
	<h3 class="home-block__h3 tac home-block-skills__h3">our skills</h3>


<div class="flex-wrap home-block__bottom home-block-skills__bottom">
	<div class="home-block__col-5">
		<div class="home-block-skills__circle">	
			<div class="js-h-b-s__svg">
			<svg version="1.1"
     baseProfile="full"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
      width="170" height="170">

   <circle class="js-skill" cx="81" cy="81" r="73" stroke="#fff" stroke-width="4"   stroke-dasharray ="80 390" fill="none" />

	</svg>
	</div>
		<span class="h-b-s__circle__percent">20%</span>		
		</div>
		<span class="home-block-skills__small-capt">
			Marketing
		</span>
	</div>

		<div class="home-block__col-5">
		<div class="home-block-skills__circle">	
					<div class="js-h-b-s__svg">
			<svg version="1.1"
     baseProfile="full"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
      width="170" height="170">

   <circle class="js-skill" cx="81" cy="81" r="73" stroke="#fff" stroke-width="4"   stroke-dasharray ="80 390" fill="none" />
    

	</svg>
	</div>
		<span class="h-b-s__circle__percent">20%</span>		
		</div>
		<span class="home-block-skills__small-capt">
			Reaserch
		</span>
	</div>

		<div class="home-block__col-5">
		<div class="home-block-skills__circle">	
					<div class="js-h-b-s__svg">
			<svg version="1.1"
     baseProfile="full"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
      width="170" height="170">

   <circle class="js-skill" cx="81" cy="81" r="73" stroke="#fff" stroke-width="4"   stroke-dasharray ="80 390" fill="none" />

	</svg>
	</div>
		<span class="h-b-s__circle__percent">20%</span>		
		</div>
		<span class="home-block-skills__small-capt">
			Management
		</span>
	</div>

		<div class="home-block__col-5">
		<div class="home-block-skills__circle">	
					<div class="js-h-b-s__svg">
			<svg version="1.1"
     baseProfile="full"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
      width="170" height="170">

   <circle class="js-skill" cx="81" cy="81" r="73" stroke="#fff" stroke-width="4"   stroke-dasharray ="80 390" fill="none" />
   
	</svg>
	</div>
		<span class="h-b-s__circle__percent">20%</span>		
		</div>
		<span class="home-block-skills__small-capt">
			Consultancy
		</span>
	</div>

		<div class="home-block__col-5">
		<div class="home-block-skills__circle">	
					<div class="js-h-b-s__svg">
			<svg version="1.1"
     baseProfile="full"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
      width="170" height="170">

   <circle class="js-skill" cx="81" cy="81" r="73" stroke="#fff" stroke-width="4"   stroke-dasharray ="80 390" fill="none" />


	</svg>
	</div>
		<span class="h-b-s__circle__percent">20%</span>		
		</div>
		<span class="home-block-skills__small-capt">
			Promotion
		</span>
	</div>





</div>

	</div>
	</div>