<div class="slider">
	<div class="fotorama" data-arrows="false" data-autoplay="true" data-nav="false" data-maxheight="670" data-fit="cover" data-width="100%">
		<img src="images/slide1.png" alt="slide">
		<img src="images/slide2.png" alt="slide">
		<img src="images/slide3.png" alt="slide">
	</div>

<div class="slider__hover">
	<div class="container slider__hover__message">
		<p class="slider__hover__line-small">grab your copy of</p>
		<p class="slider__hover__line">the <span>premium</span> quality</p>
		<p class="slider__hover__line">psd template for <span>free</span></p>

		<button class="btn slider__hover__message__btn">
			<span>Download</span>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" width="40" height="40" viewBox="40 40 40 40" overflow="visible" xml:space="preserve">
<linearGradient id="XMLID_3_" gradientUnits="userSpaceOnUse" x1="53.3335" y1="74.6104" x2="77" y2="74.6104">
	<stop offset="0.882" style="stop-color:#FFFFFF"></stop>
</linearGradient>
<rect x="53.333" y="70.777" fill="url(#XMLID_3_)" width="23.667" height="7.667"></rect>
<rect x="72.75" y="75.61" fill="#BCBEC0" width="1.541" height="1.542"></rect>
<rect x="69.667" y="75.61" fill="#BCBEC0" width="1.541" height="1.542"></rect>
<g>
	
		
	<g>
		<linearGradient id="XMLID_4_" gradientUnits="userSpaceOnUse" x1="73.8828" y1="57.5977" x2="65.4248" y2="74.0562">
			<stop offset="0.427" style="stop-color:#F6F6F6"></stop>
			<stop offset="0.6455" style="stop-color:#F4F4F4"></stop>
			<stop offset="0.7243" style="stop-color:#EDEDED"></stop>
			<stop offset="0.7804" style="stop-color:#E1E1E1"></stop>
			<stop offset="0.8258" style="stop-color:#D1D1D1"></stop>
			<stop offset="0.8647" style="stop-color:#BBBBBB"></stop>

		</linearGradient>
		<polygon fill="url(#XMLID_4_)" points="65.042,74.069 72.625,64.985 68.167,65.027 68.125,57.527 62.042,57.527 62.042,64.944     57.625,64.944   "></polygon>
	</g>
</g>
</svg>
		</button>
	</div>

	
</div>
</div>