<div class="slider">
	<div class="fotorama" data-arrows="false" data-autoplay="true" data-nav="false" data-maxheight="670" data-fit="cover" data-width="100%">
		<img src="images/slide1.png" alt="slide">
		<img src="images/slide2.png" alt="slide">
		<img src="images/slide3.png" alt="slide">
	</div>

<div class="slider__hover">
	<div class="container slider__hover__message">
		<p class="slider__hover__line-small">grab your copy of</p>
		<p class="slider__hover__line">the <span>premium</span> quality</p>
		<p class="slider__hover__line">psd template for <span>free</span></p>

		<button class="btn slider__hover__message__btn">
			<span>Download</span>
		<i class="fa fa-download" aria-hidden="true"></i>

		</button>
	</div>

	
</div>
</div>